footer {
    width: 100%;
    background: linear-gradient(to left, blue, black);
    display: flex;
    flex-direction: column;


    ul {
        height: 40vh;
        width: 100%;
        color: #FFD1DC;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;


        li {
            list-style: none;
            text-align: center;
            font-size: 1rem;
            font-weight: 600;
            font-family: 'Roboto', sans-serif;
        }
    
    
    }


}